@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --backgrond: rgb(0, 0, 0);
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;

  --font-text: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* A cada 1rem será considerado 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--backgrond);
  width: 100%;
  height: 100%;
  font-family: var(--font-text);
  font-size: 1.6rem;
  position: relative;
}

.left-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

}

.rigth-blur {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 690px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5.0rem;
  width: 100%;
}

#logo {
  margin-left: 12rem;
}

#button {
  text-decoration: none;
  border: 1px solid var(--button);
  border-radius: 6px;
  padding: 1.1rem 3.8rem;

  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}

.content-title-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

}

.content-title-img h1 {
  color: var(--text-color);
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 10.9rem;
}

.content-title-img h2 {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  /*margin-bottom: 0.5rem;*/
  line-height: 10.9rem;
}

#button-toggle {
  display: none;
}

.content-title-img img {
  /* position: absolute;
  bottom: 0;*/
  max-width: 100%;
  height: auto;
}

.logo>h1, .header-toggle, #text-toggle, .blur-mobile {
  display: none;
}

/*------------------------- Medias Queries---------------------------*/

/* - - - - - Portátil L- - - - - - - */
@media(max-width: 1130px) {
  #button {
    padding: 0.99rem 3.42rem;
    font-size: 0.99rem;
  }

  nav ul {
    gap: 30px;
  }

  nav ul li a {
    font-size: 1.26rem;
  }

  .content-title-img h1 {
    font-size: 7.2rem;
    line-height: 9.81rem;
  }

  .content-title-img h2 {
    font-size: 7.2rem;
    line-height: 6.81rem;
  }

  #logo {
    width: 3.87rem;
  }
}

/* - - - - - Portátil - - - - - - - */
@media(max-width: 1024px) {

  nav, #logo, #button, .blur {
    display: none;
  }

  body {
    position: relative;
  }

  header {
    padding: 0;
  }

  .header-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 37px 25px 25px 25px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 88.5px;
  }

  #button-toggle {
    display: block;
    text-decoration: none;
    border: 1px solid var(--button);
    border-radius: 6px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 98px;
    position: relative;
    padding: 1.21rem 6.05rem 1.21rem 3.63rem;
    font-size: 1.33rem;
  }

  a img {
    position: absolute;
    top: 14.5px;
    right: 33px;
    width: 7.92px;
  }

  #text-toggle {
    display: inline;
    color: var(--text-color);
    font-size: 3.63rem;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 88px;
    width: 370px;
  }

  .content-title-img {
    margin-top: 0;
  }

  .content-title-img .img-coffee {
    position: unset;
    max-width: 100%;
    height: auto;
    margin-top: 98px;
  }

  .content-title-img h1 {
    font-size: 6.05rem;
    line-height: 7.5rem;
  }

  .content-title-img h2 {
    font-size: 6.05rem;
    line-height: 7.5rem;
  }

  .blur-mobile {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -2;
    bottom: 0;
  }

  .content-title-img .img-coffee {
    margin-top: 20px;
  }
}

/* - - - - - Tablet - - - - - - - */
@media(max-width: 800px) {
  #button-toggle {
    padding: 1.1rem 5.5rem 1.1rem 3.3rem;
    font-size: 1.21rem;
  }

  a img {
    top: 13px;
    right: 30px;
    width: 7.2px;
  }

  #text-toggle {
    font-size: 3.3rem;
  }

  .content-title-img h1 {
    font-size: 5.5rem;
    line-height: 7.5rem;
  }

  .content-title-img h2 {
    font-size: 5.5rem;
    line-height: 7.5rem;
  }

  .content-title-img .img-coffee {
    margin-top: 20px;
  }
}

/* Mobile Grande*/
@media(max-width: 600px) {
  #button-toggle {
    padding: 1rem 5rem 1rem 3rem;
    font-size: 1.1rem;
  }

  a img {
    top: 11.5px;
    right: 30px;
    width: 6.6px;
  }

  #text-toggle {
    font-size: 3rem;
  }

  .content-title-img h1 {
    font-size: 5rem;
    line-height: 6.83rem;
  }

  .content-title-img h2 {
    font-size: 5rem;
    line-height: 6.83rem;
  }

  .content-title-img .img-coffee {
    margin-top: 20px;
  }
}

/* Mobile Pequeno*/
@media(max-width: 440px) {
  #button-toggle {
    padding: 0.67rem 3.36rem 0.67rem 2rem;
    font-size: 0.9rem;
  }

  a img {
    top: 8px;
    right: 18px;
    width: 5.8px;
  }

  #text-toggle {
    font-size: 2rem;
    width: 70%;
    letter-spacing: 1px;
  }

  .content-title-img h1 {
    font-size: 3.36rem;
    line-height: 4.58rem;
    width: 90%;
    text-align: center;
  }

  .content-title-img h2 {
    font-size: 3.36rem;
    line-height: 4.58rem;
    width: 90%;
    text-align: center;
  }

  .content-title-img .img-coffee {
    margin-top: 20px;
  }
}